.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;

  font-size: 30px;
  color: #000;
}

.hero__link:hover {
  color: #4facfe;
}

@media screen and (max-width: 978px) {
  .hero__links {
    justify-content: center;
  }
}
